<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TourDBEntities" connectionString="metadata=res://*/Dal.Model1.csdl|res://*/Dal.Model1.ssdl|res://*/Dal.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAOTH-LAPTOP\SQLEXPRESS2K5_2N;initial catalog=TourDB;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>